trigger:
  branches:
    include:
      - main
  paths:
    include:
      - ansible/**

pr:
  branches:
    include:
      - main
  paths:
    include:
      - ansible/**

variables:
  ANSIBLE_DIR: ansible/web

stages:
  - stage: Ansible
    jobs:
      - job: AzureConnection
        displayName: "Export Azure VM information as environment variables"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - checkout: self
          - task: AzureKeyVault@2
            inputs:
              azureSubscription: "ADO Pipeline Connection"
              KeyVaultName: web-cacloud-keyvault # Hard-coded kv name
              SecretsFilter: "*"
              RunAsPreJob: true
          - script: |
              echo "Setting keyvault password as variable"
              echo "##vso[task.setvariable variable=AZURE_VM_PASSWORD;isOutput=true]$web-0-secret
            displayName: "Get VM Password"
            name: GetVMPw

          - task: AzureCLI@2
            name: GetVMIp
            inputs:
              azureSubscription: "ADO Pipeline Connection"
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                ip=$(az network public-ip show \
                  --resource-group my-rg \
                  --name my-public-ip \
                  --query ipAddress \
                  --output tsv)

                echo "##vso[task.setvariable variable=AZURE_VM_IP;isOutput=true]$ip"
            displayName: "Get VM IP"

      - job: AnsibleRun
        displayName: "Run Ansible Playbook"
        dependsOn: Azure Connection
        steps:
          - script: |
              cd ..
              sudo apt-get update
              sudo apt-get install -y sshpass python3-pip
              pip3 install ansible
            displayName: "Install Ansible and sshpass"

          - script: |
              cd $(ANSIBLE_DIR)
              export ANSIBLE_HOST_KEY_CHECKING=False
              ansible-playbook playbook.yml -i inventory.yaml --extra-vars "domain=$DOMAIN email=$EMAIL"
            displayName: "Run Ansible Playbook"
            env:
              AZURE_VM_IP: $(AZURE_VM_IP)
              AZURE_VM_ADMINUSER: "adminuser"
              AZURE_VM_PASSWORD: $(AZURE_VM_PASSWORD)
              PYTHON_PATH: "/usr/bin/python3"
              DOMAIN: "cacloudstudio.com"
              EMAIL: "anna.xing@cacloudstudio.com"
